@import './options';

.overlay {
	position: fixed;
	height: 100vh;
	width: 100vw;
	background: rgba(0, 0, 0, 0.4);
	top: 0;
	left: 0;
}

.modal {
	padding: $padding-normal * 2;
	box-shadow: 0px 0px 2px 2px #ddd;
	position: absolute;
	border-radius: 5px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: $font;

	&__head-container {
		height: auto;

		h3 {
			text-align: center;
			margin: $margin-normal 0;
			margin-top: 0;
		}

		.close-btn {
			position: absolute;
			right: 1rem;
			top: 1.7rem;
		}
	}
}

@import './add-item';

@import './item-info';
