.options {
	background: #fff;
	position: absolute;
	display: flex;
	flex-direction: column;
	border: 1px solid #dde0e4;
	width: 160px;
	font-family: $font;
	border-radius: 5px;
	bottom: -90%;
	left: 50%;
	z-index: 10;

	&__btn {
		padding: $padding-normal $padding-normal / 2;
		color: $dark-color-v2;

		&--delete {
			color: #ff5942;
		}

		&:hover {
			background: #eeeff1;
		}
	}
}
