.options {
	position: absolute;
	display: flex;
	flex-direction: column;
	box-shadow: 0px 0px 2px 2px #ddd;
	width: 160px;
	font-family: $font;
	border-radius: 5px;
	top: 10px;
	right: 10px;

	&__btn {
		padding: $padding-normal $padding-normal / 2;
		color: $dark-color-v2;

		&--delete {
			color: #ff5942;
		}

		&:hover {
			background: #eeeff1;
		}
	}
}
