#root {
	display: grid;
	grid-template-columns: minmax(286px, auto) 4fr;
	min-height: 100vh;
}

// Reverses the dropdown
.reverse-dropdown {
	transform: rotateX(180deg);
}

.btn {
	border: none;
	background: transparent;
}
