$font: "Lato", sans-serif;
$bold: 700;
$light: 300;
$size-medium: 24px;
$size-normal: 16px;
$size-small-v2: 14px;
$size-small-v1: 12px;
$light-bg-v1: "#F9FAFC";
$light-bg-v2: "#EEEFF1";
$light-color-v1: "#AFB2B6";
$light-color-v2: "#81878C";
$dark-color-v1: "#2F363F";
$dark-color-v2: "#535B62";
$active-folder-color: "#E6F5FF";
