$font: "Lato", sans-serif;
$bold: 700;
$light: 300;
$size-medium: 24px;
$size-normal: 16px;
$size-small-v2: 14px;
$size-small-v1: 12px;
$light-bg-v1: #f9fafc;
$light-bg-v2: #eeeff1;
$light-color-v1: #afb2b6;
$light-color-v2: #81878c;
$dark-color-v1: #2f363f;
$dark-color-v2: #535b62;
$active-folder-color: #e6f5ff;
$padding-normal: 16px;
$margin-normal: 16px;
